/* место для вашего кода */
.overlay {
    opacity: 0.6;
    background-color: #000;
    position: absolute;
    inset: 0;
    z-index: 1;
}

button {
    background: none;
    border: none;
    padding: 0;
}

.header {
    background-color: #fff;
    margin: 92px 50px;
    min-width: 1340px;
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr;
}    
  
.header__menu {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
    align-self: center;
    justify-self: left;
}

.header__logo {
    align-self: center;
    justify-self: center;
    width: 148px;
    height: 105px;
    margin-bottom: 5px;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    gap: 33px;
    margin-bottom: 5px;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.header__link {
    text-decoration: none;
    border-bottom: solid 1px black;
}

.header__link_active {
    border: none;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit  {
    list-style: none;
}

.header__address {
    padding-top: 5px;
    justify-self: right;
    width: 240px;
}

.header__address a {
    justify-self: right;
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; 
    width: 240px;
    text-decoration: none;
    border-bottom: solid 1px black;
}

p.address {
    border: none;
}

.address {
    justify-self: right;
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; 
    width: 240px;
    text-decoration: none;
    border-bottom: solid 1px black;
}

.address a {
    text-decoration: none;
    border-bottom: solid 1px black;
}

.cover {
    background: no-repeat center / cover url(../images/cover.jpg);
    position: relative;
}

.cover__title {
    position: relative;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 100px;    
    line-height: 1.15; /* 115px */
    text-transform: uppercase;
    display: block;
    padding: 165px 50px 130px;
    z-index: 2;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.aligned-text {
    display: block;
    letter-spacing: 30px;
}

.aligned-text_center {
    display: block;
    text-align: center;
    margin-top: 10px;
}

.aligned-text_right {
    display: block;
    text-align: right;
    margin-top: 5px;
}

.cover__description {
    display: flex;
    justify-content: right;
    position: relative;
    z-index: 2;
    padding-bottom: 50px;    
}

.cover__description-text {
    color: #FFF;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 127.273%; /* 127.273% */
    text-transform: uppercase;
    margin-right: 78px;
    display: block;
    align-self: center;
    word-spacing: 18px;
}

.bet-button {
    border: 1px solid #FFF;
    width: auto;
    height: auto;
    background-color: transparent;
    padding:  12px 32px;
    color: #FFF;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-right: 50px;
    cursor: pointer;
}

.lots {
    width: 1340px;
    margin: 180px 50px 181px 50px;
}

.lots__heading {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: 27px;
}

.lots__card-list {
    display: flex;
    flex-direction: row;
    gap: 25px;
    list-style: none;
    flex-grow: 1;
    margin-bottom: 30px;
}

.lots__card-list-item {
    width: 430px;
    min-height: 450px;
    position: relative;
}

.card__title {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase; 
    position: relative;
    z-index: 2;
}

.card-link {
    display: block;
    height: 100%;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 40px;
    background: no-repeat center / cover;
}

.card__text {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */  
    position: relative;
    z-index: 2;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}


.lots__look-more-link {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-style: none;
    font-weight: 400;
    line-height: normal;
    margin-left: 40px;
    text-decoration: none;
    border-bottom: solid 1px black;
}

.about {
    width: 1340px;
    margin: 181px 50px 50px;
}

.about__column {
    display: grid;
    grid-template-columns: 430px 1fr;
}

.about__logo {
    width: 240px;
    height: 240px;
    background: #000;
    border-radius: 50%;
    margin-left: 95px;
}

.about__logo-image {
    display: block;
    width: 148px;
    height: 114px;
    margin: 63px 46px;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 100px;
    margin-left: 25px;
}

.about__text-paragraph {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about__title {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 100px;
    margin-left: 25px;
}

.footer {
    width: 1340px;
    margin: 179px 50px 90px;
    display: flex;
    justify-content: space-between;
}

.footer__address {
    align-items: center;
}

.footer__address a {
    justify-self: right;
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; 
    width: 240px;
    text-decoration: none;
    border-bottom: solid 1px black;
}

.footer__menu {
    text-align: center;
}

.footer__menu-link {
    text-decoration: none;
    border-bottom: solid 1px black;
}

.footer__menu-list {
    list-style: none;
}

.footer__menu-list-item .footer__menu-link_active {
    text-decoration: none;
    border:none;
}

.footer__menu-list-item {
    color: #000;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__social-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 48px;
}

.footer__social-icon {
    display: block;
    height: 48px;
}
